@import "../../app.scss";

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none; // Ensures that the cursor doesn't interfere with clicks on underlying elements
  mix-blend-mode: difference; // Blend mode for better visibility on light and dark backgrounds
  z-index: 9999; // Ensures the cursor is above other elements

  @include mobile{
    display: none;
  }
}